<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="AtomPix local packages" value="eng/nuget-local" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <fallbackPackageFolders>
    <clear />
    <add key="User global packages" value="%USERPROFILE%/.nuget/packages" />
  </fallbackPackageFolders>
</configuration>
